@model List<UserRoleViewModel>
@{ 
    ViewBag.Title = "Edit users in role";
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Add or remove users from this role</h4>
        </div>
        <div class="card-body">
            @for (int i = 0; i<Model.Count; i++)
            {
            <div class="form-chek m-1">
                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />
                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].UserName</label>
            </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit"  value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId">Back</a>
        </div>
    </div>
</form> 